:root {
    --main-font: "Inter", sans-serif;
}
html {
    overflow-x: hidden;
}
body {
    background-color: #070707;
    overflow-x: hidden;
    font-family: var(--main-font);
}
p {
    color: #ECECEC;
    font-weight: 300;
}
.muted-text {
    color: #abbcd5bf;
}
.btn {
    padding: 10px 28px;
    border-radius: 8px;
    font-size: 0.875rem;
    font-weight: 600;
}
.btn.btn-large {
    font-size: 16px;
    padding: 14px 28px;
}
.btn:focus {
    outline: 0;
    box-shadow: none;
}
.primary-button {
    background: radial-gradient(circle, #3c6ef6 45%, #2F67FF 100%);
    box-shadow: inset 0 0 0 1px #5988FF;
}
.primary-button-transparent {
    background-color: transparent;
    border: 1px solid #3573FF;
    box-shadow: inset 0 0 0 1px #5988FF;
}
.secondary-button, .secondary-button:hover {
   background-color: #0B8CF5;
   border: 1px solid #0B8CF5;
   color: #ffffff;
}
.secondary-button-transparent, .secondary-button-transparent:hover {
    border: 1px solid #0B8CF5;
    color: #ffffff;
}
.secondary-button-transparent:hover {
    background-color: #0B8CF5;
}
.btn-green {
    background-color: #00b286;
    border: #00b286;
 }
 .btn-green:hover {
    background-color: #26be98;
    border: #26be98;
 }
.border-1px {
    border-width: 1px;
 }
.white-border-1px-10-percentage-opacity {
    border: 1px solid rgba(255,255,255,0.1);
}
.white-border-bottom-1px-10-percentage-opacity {
    border-bottom: 1px solid rgba(255,255,255,0.1);
}
.border-2px {
    border-width: 2px;
}
.rounded-8px {
    border-radius: 8px;
}
.rounded-32px {
    border-radius: 32px;
}
.text-primary-color {
    color: #0B8CF5;
}
.text-secondary-color {
    color: #869ab8;
}
.shadow-box {
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1);
}
.hover-shadow:hover {
    box-shadow: -1px 3px 15px 0 rgba(0, 0, 0, 0.075) !important;
}
.hover-lift:hover {
    transform: translateY(-10px);
}
 .text-gradient {
    background-clip: text;
    -webkit-text-fill-color: transparent;
 }
 .text-gradient-primary {
    background-image: linear-gradient(
        351deg,
        #0dcaf0 23%,
        #53f 87%,
        #775cff 102%
      ) !important;
 }
 .bg-turquoise {
    background-color: #C2F2FB;
 }
.svg-inline--fa {
    height: 1em;   
}
.mb-60px {
    margin-bottom: 60px;
}
.z-index--1 {
    z-index: -1;
}
.top-75 {
    top: 75%;
}
header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 50;
    border-bottom: 1px solid rgba(217, 217, 217, 0.5);
    transition: background-color 0.5s, border-bottom 0.5s;
}
header .navbar .navbar-nav .nav-link {
    color: #ffffff;
}
header.sticky {
    border-bottom: 1px solid #2d2e2f;
    background-color: #070707;
}

header nav .logo {
    height: 45px;
}
header nav .logo-text {
    font-weight: 600;
}
nav.navbar {
    background-color: transparent !important;
}
header .navbar-collapse .close-button {
    cursor: pointer;
    font-size: 0;
    height: 51px;
    position: absolute;
    right: 0;
    top: 0;
    width: 51px;
}
header .navbar-collapse .close-button::before, header .navbar-collapse .close-button::after {
    background: #2F67FF;
    border-radius: 1px;
    content: "";
    height: 3px;
    left: 14px;
    position: absolute;
    right: 14px;
    top: 24px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
header .navbar-collapse .close-button::after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.hero-section {
    background-image: url(../images/blue-hue.png);
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 150px;
    padding-bottom: 60px;
}
.hero-section .content-col .heading {
    font-size: 58px;
}
.hero-section .content-col .desc {
    font-size: 20px;
    font-weight: 600;
}
.hero-section .content-col .tick-icon {
    min-width: 24px;
}
.iphone-x {
    position: relative;
}
.iphone-x:before { 
    margin: 0 auto;
    border-radius: 30px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    height: 4px;
    left: 0;
    right: 0;
    width: 45px;
}
.iphone-x:after { 
    border-radius: 50%;
    -webkit-box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.03);
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.03);
    display: block;
    height: 8px;
    left: 50%;
    top: 8px;
    width: 8px;
    margin-left: 33px;
}
.hero-section .iphone-x {
    border: 1px solid #d9e2ef;
    border-radius: 34px;
    box-shadow: inset 0 0 6px 0 rgba(66, 77, 86, 0.5), 0 1px 0 #aeb5bb,
    0 20px 50px -25px rgba(0, 0, 0, 0.5);
    padding: 13px;
    background-color: #f1f4f8;
    margin: 0 auto;
    max-width: 240px;
}
.iphone-x img {
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.015);
    max-width: 100%;
}
.hero-section .iphone-x img {
    border-radius: 17px;
}
.iphone-x .screen {
    border-radius: 13px;
    overflow: hidden;
}
.iphone-x .notch {
    border-radius: 17px;
    width: 135.85px;
    height: 22.75px;
    background-color: #242526;
    left: 50%;
    position: absolute;
    top: 0;
    transform: translateX(-50%);
}
.iphone-x.light .notch {
    height: 29.75px;
    width: 177.65px;
    background-color: #f1f4f8;
}
.hero-section .iphone-x.light:after, .hero-section .iphone-x.light:before {
    content: "";
    position: absolute;  
    background-color: #e3e8eb;
    z-index: 1;
}
.hero-section .screen-hightlight {
    max-width: 100%;
}
.premium-features-section::before,
.premium-features-section::after,
.premium-features-section .extra-gradient {
    content: "";
    position: absolute;
    background-image: url(../images/blue-hue.png);
    background-repeat: no-repeat;
    background-size: contain;
   
    transform-origin: center;
    width: 70vw;
    height: 70vw;
    z-index: -1;
}

.premium-features-section::before {
  top: 400px;
  left: -30px;
  transform: rotate(270deg);
}

.premium-features-section::after {
  top: 2000px;
  right: -30px;
  transform: rotate(90deg);
}

.premium-features-section .extra-gradient {
  top: 3500px;
  left: -30px;
  transform: rotate(270deg);
}
.section-heading {
    font-size: 46px;
}
.section-desc {
    font-size: 22px;
    font-weight: 600;
}
.bg-secondary-color {
    background-color: #0C0C0C;
}
.border-black-1px {
    border: 1px solid #000000;
}
.border-black-light-1px {
    border: 1px solid #18191A;
}
.width-max-content {
    width: max-content;
}
.feature_img img {
    width: 100%;
    border-radius: 10px;
}
.card-dark {
    background-color: #242526;
    border: 1px solid rgb(59,59,60);
    transition: all 0.3s ease-in-out;
}
.how-does-it-work-section .container {
    background-image: url(../images/how-does-it-work-steps/bg.png);
    background-size: cover;
    border-radius: 36px;
    overflow: hidden;
}
.how-does-it-work-section .single-step .img {
    max-height: 250px;
}
.pricing-table-section#pricing-table-section {
    background-image: url(../images/blue-hue-2.png);
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: 145% 150px;
    padding-bottom: 500px;
}
.pricing-table-section .free-plan-card {
    background: linear-gradient(to right, #060606, #101014);
}
.pricing-table-section .premium-plan-card {
    background: linear-gradient(to right, #060606, #081B2A);
}
.pricing-table-section .price .dollar-sign {
    font-size: 28px;
}
.pricing-table-section .price .amount {
    font-size: 60px;
}
.pricing-table-section .btn-check + .btn-primary {
    background-color: rgb(85, 51, 255);
    border: 1px solid rgb(85, 51, 255);
}
.pricing-table-section .btn-check:checked + .btn-primary, .btn-check:checked:focus + .btn-primary, .btn-check:active + .btn-primary {
    background-color: rgb(68, 41, 204);
    border: 1px solid rgb(68, 41, 204);
    color: #ffffff;
    box-shadow: none;
} 
.why-tweetWizard-section  {
    margin-top: -400px;
}
.faq-section .accordion .accordion-item {
    background-color: transparent;
    border: none;
}
.faq-section .accordion .accordion-item, .faq-section .accordion .accordion-item .accordion-button  {
    background-color: #0C0C0F;
}
.faq-section .accordion .accordion-item {
    border: 1px solid #141B2F;
    border-radius: 12px;
    overflow: hidden;
    text-decoration: none;
}
.faq-section .accordion-item {
    background: 1px solid #0D0C0E;
}
.faq-section .accordion-button::after {
    display: flex;
    justify-content: center;
    align-items: center;
    content: "+";
    font-weight: 300;
    font-size: 20px;
    color: #0B8CF5;
    background-image: none;
    font-size: 28px;
    transition: transform 0.2s ease;
}

.faq-section .accordion-button:not(.collapsed)::after {
    content: "-"; /* When accordion is expanded */
    transform: rotate(0);
    font-size: 32px;
}
.faq-section .accordion .accordion-button:focus {
    background-color: transparent;
    box-shadow: none;
}
.faq-section .accordion-button:not(.collapsed) {
    background-color: transparent;
    box-shadow: none;
}
.faq-section .accordion-button:not(.collapsed) {
    font-weight: 700;
    color: #9985ff;
}
.ready-to-transform-section {
    padding-bottom: 100px;
}
footer .social-icons a:hover svg path {
    fill: #ffffff
}
footer .links .link {
    color: #969799;
}
.hover-white-text:hover {
    color: white !important;
}
.scroll-to-top {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    opacity: 0;
    transform: translateY(100%);
    transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.26, 1.5), opacity 0.3s,
    -webkit-transform 0.4s cubic-bezier(0.68, -0.55, 0.26, 1.5);
    visibility: hidden;
    z-index: 100;
}
.scroll-to-top.to-top-visible {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
}
.premium-features-section, .benefits-section, .how-does-it-work-section, .pricing-table-section, .faq-section {
    padding-top: 90px;
    padding-bottom: 90px;
}
#preloader {
    background-color: #101010;
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 200;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
    color: #c6c6c6;
}
#preloader .circle {
    width: 60px;
    height: 60px;
    border-top: 4px solid #c6c6c6;
    border-bottom: 4px solid #c6c6c6;
    border-left: 4px solid #c6c6c6;
    border-right: 4px solid transparent;
    border-radius: 50%;
    animation: rotate 0.5s linear infinite;
} 
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media screen and (min-width:1200px) {
    .hero-section .iphone-x {
        max-width: 320px;
    }
}
@media screen and (max-width:1199px) {
    .hero-section  {
        background-position: center -30px;

    }
}
@media screen and (max-width:991px) {
    header .navbar .navbar-collapse {
        width: calc(100% - 24px);
        position: absolute;
        top: 0;
        background-color: #ffffff;
        border: 1px solid rgba(0,0,0,0.2);

    }
    header .navbar .navbar-toggler {
        color: rgba(255, 255, 255, 0.7);
        border-color: rgba(255, 255, 255, 0.7);;
    }
    header .navbar .navbar-toggler:focus {
        box-shadow: none;
    }
    header .navbar .navbar-toggler .icon-bar {
        background-color: rgba(255, 255, 255, 0.7);
        display: block;
        height: 2px;
        width: 30px;
    }
    header .navbar .navbar-toggler .icon-bar + .icon-bar {
        margin-top: 6px;
    }
    header .navbar .navbar-nav .nav-link.active {
        color: #53f;
    }
    header .navbar .navbar-nav .nav-link, header .navbar .navbar-nav .nav-link:hover {
        color: #0B8CF5;
    }
    header .navbar .register-and-login-buttons .btn {
        background-color: transparent;
        border-top: 1px solid #d9e2ef;
        border-left: none;
        border-right: none;
        border-bottom: none;
        border-radius: 0;
        box-shadow: none !important;
        color: #869ab8;
        padding: 24px;
        font-size: 18px;
        font-weight: 500;
        transition: color 1s;
    }
    header .navbar .register-and-login-buttons .btn:hover {
        color: #316BFF;
    }
    .hero-section .shapes-container .background-shape-top {
        width: 100%;
        transform: translate(80%, -60%) rotate(-60deg);
    }
    .how-does-it-work-section .single-step .img {
        max-height: 200px;
    }
}
@media screen and (max-width:767px) {
    header nav .logo {
      height: 40px;  
    } 
    .hero-section {
        margin-bottom: 0;
    }
    .hero-section .shapes-container .background-shape-main {
        transform: translate(65%, -20%) rotate(-60deg);
    }
    .how-does-it-work-section .section-heading {
        margin: 0 -15px 15px;
    }
    .premium-features-section, .benefits-section, .how-does-it-work-section, .pricing-table-section, .faq-section {
        padding-top: 45px;
        padding-bottom: 45px;
    }
    .pricing-table.table thead tr th, .pricing-table.table tr th, .pricing-table.table tr td {
        font-size: 0.8rem;
        padding: 5px 2px;
    }
    .premium-features-section .content-col {
        order: 1;
    }
    .premium-features-section .image-col {
        order: 2;
    }
    .benefits-section .content-col {
        order: 2;
    }
    .section-heading {
        font-size: 32px;
    }
    .section-desc {
        font-size: 18px;
    }
    .premium-features-section::before, .premium-features-section::after, .premium-features-section .extra-gradient {
        width: 200vw;
        height: 200vw;
    }
    .why-tweetWizard-section {
        margin-top: -450px;
    }
    .ready-to-transform-section {
        padding-bottom: 100px;
    }
    .ready-to-transform-section {
        padding-bottom: 50px;
    }
}
@media screen and (max-width:575px) {
    .hero-section .shapes-container .background-shape-main {
        width: 1445px;
        transform: translate(20%, -25%) rotate(-60deg);
        bottom: -190px;
    }
    .hero-section .shapes-container .background-shape-top {
        width: 100%;
        transform: translate(91%, -75%) rotate(-60deg);
    }
    .hero-section .content-col .heading {
        font-size: 42px;
    }
}